services:
  mariadb:
    container_name: mariadb
    build:
      context: ./mariadb
      dockerfile: Dockerfile
    image: mariadb
    restart: always
    networks:
      - inception_network
    env_file:
      - .env
    secrets:
      - db_root_password
      - db_password

  wordpress:
    container_name: wordpress
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    image: wordpress
    restart: always
    networks:
      - inception_network
    env_file:
      - .env
    depends_on:
      - mariadb
    secrets:
      - db_password
      - wp_admin_password
      - wp_editor_password


  nginx:
    container_name: nginx
    build:
      context: ./nginx
      dockerfile: Dockerfile
    image: nginx
    restart: always
    networks:
      - inception_network
    ports:
      - "443:443"
    depends_on:
      - wordpress

networks:
  inception_network:
    driver: bridge

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  wp_editor_password:
    file: ../secrets/wp_editor_password.txt
